#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#bg video {
    min-width: 100%;
}

#main-contain {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
}

.App, #root {
    width: 100%;
}

.welcome-container {
    width: 600px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.window {
    position: absolute;
}

#begun {
    width: 250px;
    top: 100px;
    left: 0px;
}

#soon {
    /* position: absolute; */
    width: 250px;
    top: 180px;
    left: 80px;
}

#titles {
    position: relative;
    top: 100px;
    width: 300px;
    margin: 0 auto;
    font-size: 1.5em;

    .window-body {
        padding-bottom: 0px;
    }
}

#pp {
    font-style: italic;
    padding: 8px;
    font-size: .8em;
}

.Reflector > div {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 400px;
    left: -5px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 15px;
    height: 30px;
    text-align: center;
    padding-left: 25px;
    padding-top: 5px;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 17%, rgba(0, 255, 0, 1) 34%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 255, 1) 69%, rgba(255, 0, 255, 1) 83%, rgba(255, 0, 0, 1) 100%);
}

.Reflector > .r2 {
        border: none;
transform: translate(15px, 32px) skew(50deg) scale(1, -.7);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .4) 90%, rgba(0, 0, 0, .8) 100%);
}

.refl {
    width: 90%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.showing .refl {
    opacity: 1;
}

#addr {
    top: -180px;
    left: 10px;
    z-index: 10;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

#addr.showing {
    opacity: 1;
}

#addr:before {
    border: 11px solid transparent;
    border-top-color: black;
    margin-left: -11px;
    margin-bottom: -11px;
}

#addr:after {
    border: 10px solid transparent;
    border-top-color: #fff08f;
    margin-left: -10px;
    margin-bottom: -10px;
}

#addr:before, #addr:after {
	left: 80%;
    bottom: 0;
    border-bottom: 0;
}

#date {
    left: -10px;
    top: 20px;
    z-index: 11;
    opacity: 0;
    
    transition: opacity 300ms ease-in-out;
}

#date.showing {
    opacity: 1;
}

#date:before {
	border: 11px solid transparent;
	border-bottom-color: black;
	margin-left: -11px;
	margin-top: -11px;
}

#date:before, #date:after {
	left: 20%;
	top: 0;
    border-top: 0;
}

.speech-bubble {
	position: relative;
    margin: 0 auto;
    width: 250px;
    height: 50px;
	background: #fff08f;
	border-radius: .4em;
    border: 1px solid black;
    font-family: "Pixelated MS Sans Serif";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    z-index: 15;
}

.speech-bubble:after, .speech-bubble:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}

.speech-bubble:after {
	border: 10px solid transparent;
	border-bottom-color: #fff08f;
	margin-left: -10px;
	margin-top: -10px;
}

.window-body {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 10px;

}

.title-bar {
    font-size: 1.2em;
}

button {
    font-size: .75em;
    padding: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pixelated MS Sans Serif", sans-serif;
}

.rsvp-form, .rsvp-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.window-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wizard.window, .window.rsvp-list, .rsvp-form .window {
    margin-top: 25px;
    width: 400px;
    max-width: 95%;
    text-align: center;
    position: initial;
    min-height: 50vh;

    h2 {
        font-size: 2.5em;
    }
}

.submission-response {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.wizard input {
    font-size: .8em;
    width: 200px;
}

select {
    font-size: .8em;
    width: 210px;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

textarea {
    font-size: .8em;
    width: 210px;
    height: 50px;
}

.generic-input {
    height: 50px;
}

table {
    width: 100%;
}

tbody {
    display: block;
    max-height: 50vh;
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr, td {
    height: 25px;
    border-bottom: 1px dotted gray;
}

.rsvp-list h2 {
    margin-bottom: 0;
}

.rsvp-list a {
    font-size: 1.2em;
    font-style: italic;
}

.rsvp-list table {
    margin-top: 20px;
}

#titles {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#titles.showing {
    opacity: 1;
    z-index: 10;
}

.window {
    pointer-events: all;
}

#begun {
    z-index: 5;
}

#soon {
    z-index: 4;
}

#titles {
    left: 0;
    z-index: 2;
}

#mh, #ld {
    text-decoration: underline dotted;
    cursor: help;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 3em;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer .linky {
    color: white;
    text-shadow: 0px 0px 5px blue;
}

.linky {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
